article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: ""; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.8em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
.container {
  padding: 0 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 641px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 961px) {
  .container {
    width: 70%; } }

.container .row {
  margin-left: 0;
  margin-right: 0; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: 0; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: 0; }
    .row .col.s3 {
      width: 25%;
      margin-left: 0; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: 0; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: 0; }
    .row .col.s6 {
      width: 50%;
      margin-left: 0; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: 0; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: 0; }
    .row .col.s9 {
      width: 75%;
      margin-left: 0; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: 0; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: 0; }
    .row .col.s12 {
      width: 100%;
      margin-left: 0; }
    .row .col.offset-s1 {
      margin-left: 8.33333%; }
    .row .col.offset-s2 {
      margin-left: 16.66667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.33333%; }
    .row .col.offset-s5 {
      margin-left: 41.66667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.33333%; }
    .row .col.offset-s8 {
      margin-left: 66.66667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.33333%; }
    .row .col.offset-s11 {
      margin-left: 91.66667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    @media only screen and (min-width: 641px) {
      .row .col.m1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.m2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.m3 {
        width: 25%;
        margin-left: 0; }
      .row .col.m4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.m5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.m6 {
        width: 50%;
        margin-left: 0; }
      .row .col.m7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.m8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.m9 {
        width: 75%;
        margin-left: 0; }
      .row .col.m10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.m11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.m12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 961px) {
      .row .col.l1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.l2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.l3 {
        width: 25%;
        margin-left: 0; }
      .row .col.l4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.l5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.l6 {
        width: 50%;
        margin-left: 0; }
      .row .col.l7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.l8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.l9 {
        width: 75%;
        margin-left: 0; }
      .row .col.l10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.l11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.l12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.offset-l12 {
        margin-left: 100%; } }

@font-face {
  font-family: 'Lato-regular';
  src: url("../fonts/Lato-regular.eot");
  src: url("../fonts/Lato-regular.eot") format("embedded-opentype"), url("../fonts/Lato-regular.woff2") format("woff2"), url("../fonts/Lato-regular.woff") format("woff"), url("../fonts/Lato-regular.ttf") format("truetype"), url("../fonts/Lato-regular.svg#Lato-regular") format("svg"); }

@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot") format("embedded-opentype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg"); }

@font-face {
  font-family: 'ArvoBold';
  src: url("../fonts/ArvoBold.eot");
  src: url("../fonts/ArvoBold.eot") format("embedded-opentype"), url("../fonts/ArvoBold.woff2") format("woff2"), url("../fonts/ArvoBold.woff") format("woff"), url("../fonts/ArvoBold.ttf") format("truetype"), url("../fonts/ArvoBold.svg#ArvoBold") format("svg"); }

/*	variables	*/
/* colors */
/* colors */
a, a:focus, a:active, a:hover {
  text-decoration: none;
  outline: 0 none; }

a {
  color: #000000;
  text-decoration: none; }

input, textarea, button {
  border: 0 none;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

img {
  -webkit-transition: 0.2s linear ease-in-out;
  -khtml-transition: 0.2s linear ease-in-out;
  -moz-transition: 0.2s linear ease-in-out;
  -ms-transition: 0.2s linear ease-in-out;
  -o-transition: 0.2s linear ease-in-out;
  transition: 0.2s linear ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

ol {
  margin: 0;
  padding: 0; }

ul li, p {
  margin: 0;
  padding: 0; }

b, strong {
  font-family: "ArvoBold", sans-serif;
  font-weight: normal; }

::-webkit-input-placeholder {
  color: #005379; }

:-moz-placeholder {
  color: #005379;
  opacity: 1; }

::-moz-placeholder {
  color: #005379;
  opacity: 1; }

:-ms-input-placeholder {
  color: #005379; }

*:focus {
  outline: none; }

select {
  background: #FFFFFF;
  -webkit-border-radius: 0px; }

/*	@include classes	*/
.clear {
  clear: both; }
  .clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.red {
  color: #d51623; }

.center {
  text-align: center; }

.non-mobile {
  display: block; }

.mobile {
  display: none; }

/*	@exclude mixin	*/
/* ICON */
.buttons {
  text-align: center; }
  .buttons a, .buttons input, .buttons button {
    display: inline-block;
    font-size: 3em;
    width: auto;
    background: #005379;
    color: #FFFFFF;
    padding: 0.7em 3em;
    margin-top: 0.2em;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .buttons.margin-bot {
    margin-bottom: 5em; }

/*	page 	*/
body {
  color: #005379;
  background: #FFFFFF;
  font-family: "Lato-regular", sans-serif;
  font-size: 10px;
  line-height: 1; }

.main-container {
  overflow: hidden;
  /*background: #035f93; */
  position: relative; }

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
  position: relative; }
  .page-container h1 {
    font-size: 3em;
    font-family: "ArvoBold", sans-serif;
    text-align: center;
    margin-bottom: 0.8em;
    line-height: 1; }
  .page-container .copy {
    font-size: 1.8em;
    line-height: 1.3;
    text-align: center;
    max-width: 860px;
    margin: 0 auto; }
    .page-container .copy a {
      color: #005379;
      text-decoration: underline; }

/*---------------Header----------------*/
header {
  padding: 1em 2%;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: padding 0.5s ease-in-out;
  -khtml-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
  background: #FFFFFF; }
  header a {
    color: #005379;
    font-size: 1.5em;
    font-family: "Lato-Black", sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    display: block;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    header a.border {
      border: 2px solid #005379; }
  header .main-links {
    text-align: center;
    margin-top: 1em; }
    header .main-links li {
      display: inline-block;
      vertical-align: top; }
    header .main-links li.li-video a:hover, header .main-links li.li-product a:hover {
      color: #429fd2; }
    header .main-links li.li-get-it a:hover {
      background: #005379;
      color: #FFFFFF; }
  header .remaining {
    text-align: center; }
    header .remaining .counter {
      font-family: "Lato-Black", sans-serif;
      color: #FFFFFF; }
      header .remaining .counter span {
        display: inline-block;
        background: url(../images/bg-counter.png) no-repeat;
        background-size: 100% 100%;
        font-size: 2.5em;
        padding: 5px 0.2em;
        line-height: 1;
        margin-right: 4px; }
    header .remaining label {
      color: #005379;
      font-size: 1.5em;
      font-family: "Lato-Black", sans-serif;
      line-height: 1; }
  header.sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1em 2.5%;
    background-color: rgba(255, 255, 255, 0.9); }
    header.sticky .logo {
      max-width: 120px; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  background: url(../images/mobile-menu.png) 0 0 no-repeat;
  float: left;
  width: 30px;
  height: 30px;
  -webkit-transition: all 200ms ease-in;
  -khtml-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  margin-top: 4px; }

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

.fade-down {
  animation: 0.7s ease-in-out 0.1s normal both 1 running fade-down; }

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.banner {
  margin-top: 9em; }
  .banner img {
    width: 100%;
    height: auto; }

.video-section {
  padding: 4em 0;
  text-align: center; }
  .video-section .video-area {
    padding: 4em 0 0;
    width: 80%;
    margin: 0 auto; }
    .video-section .video-area figure {
      position: relative;
      line-height: 0;
      background: #000000; }
      .video-section .video-area figure img {
        width: 100%;
        height: auto;
        display: block; }
      .video-section .video-area figure span {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -50px 0 0 -50px;
        width: 100px;
        height: 100px;
        background: url(../images/play-button.png) 0 0 no-repeat;
        background-size: contain; }

.product-section {
  padding: 0;
  text-align: center; }
  .product-section figure img {
    width: 100%;
    height: auto; }
  .product-section figure.top {
    margin-bottom: -5em; }
  .product-section figure.product {
    margin-top: 4em; }

.form-section {
  padding: 5em 0 4em;
  background-color: #fffdf9; }
  .form-section .logo-for-him {
    width: 13%;
    position: absolute;
    left: 0;
    bottom: 0; }
    .form-section .logo-for-him img {
      max-width: 100%;
      height: auto; }
  .form-section .logo-skinny-cow {
    width: 16%;
    position: absolute;
    right: 0;
    bottom: 0; }
    .form-section .logo-skinny-cow img {
      max-width: 100%;
      height: auto; }
  .form-section .page-container {
    padding-bottom: 15em; }

.form-container {
  width: 90%;
  max-width: 560px;
  font-family: "Lato-regular", sans-serif;
  margin: 5em auto 0;
  /* Custom select box*/
  /*	Custom Radio	*/ }
  .form-container input[type="text"], .form-container select {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #005379;
    padding: 0.7em;
    border: 2px solid #005379;
    line-height: 1;
    background: #fffdf9;
    width: 100%;
    font-size: 1.8em;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .form-container input[type="text"].city, .form-container select.city {
      width: 35%;
      display: inline-block;
      float: left; }
    .form-container input[type="text"].state, .form-container select.state {
      /* width:35%; display:inline-block; margin-left:2%; float:left;*/ }
    .form-container input[type="text"].zip, .form-container select.zip {
      /*width:48%; display:inline-block; margin-left:0; float:left;*/ }
    .form-container input[type="text"].fName, .form-container select.fName {
      width: 49%;
      display: inline-block;
      margin-right: 2%;
      float: left; }
    .form-container input[type="text"].lName, .form-container select.lName {
      width: 49%;
      display: inline-block;
      float: left; }
  .form-container select {
    /*height:39px;*/
    padding: 0;
    text-align: left;
    font-size: 1.8em; }
  .form-container .textarea {
    position: relative;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .form-container .textarea .char-left {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 10; }
  .form-container .left {
    width: 48%;
    display: inline-block;
    margin-right: 4%;
    float: left; }
  .form-container .right {
    width: 48%;
    display: inline-block;
    float: left; }
  .form-container input.error {
    border-color: #d51623; }
    .form-container input.error::-webkit-input-placeholder {
      color: #d51623; }
    .form-container input.error:-moz-placeholder {
      color: #d51623;
      opacity: 1; }
    .form-container input.error::-moz-placeholder {
      color: #d51623;
      opacity: 1; }
    .form-container input.error:-ms-input-placeholder {
      color: #d51623; }
  .form-container input[type="submit"] {
    font-size: 2.4em;
    color: #FFFFFF;
    font-family: "Lato-Black", sans-serif;
    padding: 0.8em 3em;
    line-height: 1; }
  .form-container .element {
    margin-bottom: 2.3em; }
  .form-container .links {
    text-align: center;
    margin-bottom: 1.2em;
    font-size: 1.8em; }
    .form-container .links a {
      color: #005379;
      text-decoration: underline;
      margin: 0 1em; }
  .form-container .error-msg {
    font-size: 1.6em;
    display: block;
    margin-bottom: 1em;
    color: #d51623;
    margin-left: 0.5em;
    margin-top: 0.2em; }
  .form-container .select-style {
    padding: 0;
    height: 53px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background: #fffdf9 url(../images/arrow-select.gif) no-repeat 100% center;
    border: 2px solid #005379;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .form-container .select-style.error {
      border-color: #d51623; }
  .form-container .select-style select {
    width: 100%;
    padding: 0.8em 1em;
    margin: 0;
    line-height: 1;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form-container .select-style select:focus {
    outline: none; }
  .form-container select option {
    background: #005379;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  .form-container .select-option {
    margin-bottom: 2em; }
  .form-container input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
    .form-container input[type=radio].css-checkbox + label.css-label {
      padding-left: 1.5em;
      min-height: 22px;
      margin-right: 1em;
      margin-bottom: 0.5em;
      display: inline-block;
      line-height: 20px;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 1.8em;
      vertical-align: middle;
      cursor: pointer; }
    .form-container input[type=radio].css-checkbox:checked + label.css-label {
      background-position: 0 -198px; }
  .form-container label.css-label {
    background-image: url(../images/chk-box-sm.png);
    user-select: none; }
  .form-container .select-form {
    display: none; }
  .form-container .tnc {
    margin-bottom: 0.5em;
    text-align: left;
    color: #666666; }
    .form-container .tnc input[type=checkbox].css-checkbox {
      position: absolute;
      z-index: -1000;
      left: -1000px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0; }
    .form-container .tnc input[type=checkbox].css-checkbox + label.css-label {
      text-indent: 0;
      padding-left: 2em;
      font-size: 1.6em;
      font-weight: normal;
      margin-bottom: 1em;
      min-height: 24px;
      line-height: 1.4;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
      vertical-align: middle;
      cursor: pointer; }
    .form-container .tnc input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -216px; }
    .form-container .tnc input[type=checkbox].css-checkbox + label.css-label.error {
      background-position: 0 -456px; }
    .form-container .tnc label.css-label {
      font-size: 1em;
      background-image: url(../images/chk-box-sm2.png);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .form-container .tnc a {
      color: #005379;
      text-decoration: underline; }

/*---------------Footer----------------*/
footer {
  background: #005379;
  padding: 8em 0 4em;
  text-align: center;
  position: relative; }
  footer .up-arrow {
    position: absolute;
    left: 50%;
    top: -28px;
    margin-left: -35px; }
    footer .up-arrow img {
      width: 75%; }
  footer .links {
    font-size: 1.6em;
    margin-bottom: 2em; }
    footer .links li {
      display: inline-block;
      margin: 0 1em; }
    footer .links a {
      margin: 0 0.5em;
      color: #FFFFFF;
      text-decoration: underline; }
  footer .copyright {
    font-size: 1.2em;
    color: #FFFFFF; }
    footer .copyright a {
      color: #FFFFFF;
      font-family: "ArvoBold", sans-serif; }

@media screen and (max-width: 1180px) {
  /*1180px*/
  header a {
    font-size: 1.5em; }
  .page-container h1 {
    font-size: 4em; }
  .page-container .copy {
    font-size: 2em; } }

@media screen and (max-width: 960px) {
  /*960px*/
  .non-mobile {
    display: none; }
  .mobile {
    display: block; }
  header {
    padding: 1em 0; }
    header a {
      font-size: 1.5em;
      padding: 0.4em 1em; }
    header .remaining .counter span {
      font-size: 2.5em; }
  .page-container h1 {
    font-size: 3.4em; }
  .page-container .copy {
    font-size: 1.8em; }
    .page-container .copy br {
      display: none; }
  .product-section figure {
    overflow: hidden; }
    .product-section figure img {
      width: 130%;
      margin-left: -15%; }
    .product-section figure.top {
      margin-bottom: 0; }
  .video-section {
    padding: 4em 0; }
  .form-section {
    padding: 4em 0 2em; }
    .form-section .logo-for-him {
      width: 17%; }
    .form-section .logo-skinny-cow {
      width: 21%; }
  footer .links li {
    margin: 0 0.5em; } }

@media screen and (max-width: 640px) {
  /*640px*/
  .mobile-toggle {
    display: block; }
  .open-nav {
    background: #FFFFFF; }
    .open-nav .mobile-toggle {
      background-position: -30px 0; }
    .open-nav .main-links {
      display: block; }
  header .main-links {
    float: none;
    clear: both;
    width: 100%;
    display: none;
    padding-top: 1em; }
    header .main-links li {
      display: block;
      text-align: center;
      margin: 1em 0; }
      header .main-links li a {
        padding: 1em 0;
        font-size: 1.8em; }
      header .main-links li.non-mobile {
        display: none; }
  header .remaining .counter span {
    font-size: 1.8em;
    margin-right: 0; }
  header .remaining label {
    font-size: 1.2em;
    font-family: "Lato-regular", sans-serif; }
  .page-container h1 {
    font-size: 3.2em; }
  .video-section .video-area figure span {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px; }
  .form-section .logo-for-him {
    width: 30%; }
  .form-section .logo-skinny-cow {
    width: 34%; }
  .form-container {
    margin: 4em auto 0;
    width: 94%; }
    .form-container input[type="text"], .form-container select {
      font-size: 1.6em; }
    .form-container input[type="submit"] {
      font-size: 2em; }
    .form-container input.css-checkbox[type="radio"] + label.css-label {
      font-size: 1.6em;
      margin-right: 0.5em; }
    .form-container .links {
      font-size: 1.6em; }
      .form-container .links a {
        margin: 0 0.5em; }
    .form-container .left {
      width: 100%;
      float: none;
      margin-right: 0; }
    .form-container .right {
      width: 100%;
      float: none; }
    .form-container .select-style {
      height: 55px; }
  footer {
    padding: 5em 0 2em; }
    footer .links li {
      margin-bottom: 1em; } }

@media screen and (max-width: 480px) {
  /*480px*/
  .page-container {
    width: 80%; }
    .page-container h1 {
      font-size: 2.2em;
      padding: 0 15%; }
    .page-container .copy {
      font-size: 1.4em; }
  .video-section .video-area {
    width: 100%; }
  .product-section figure:nth-child(1) img {
    content: url("../images/product-infographics-mobile.jpg");
    width: 100%;
    margin-left: 0; }
  .product-section figure:nth-child(3) img {
    content: url("../images/product-infographics2-mobile.jpg");
    width: 100%;
    margin-left: 0; }
  .home figure img {
    content: url("../images/home-banner-mobile.jpg"); }
  .out-of-stock figure img {
    content: url("../images/sorry-banner-mobile.jpg"); }
  .promo-end figure img {
    content: url("../images/promo-over-banner-mobile.jpg"); }
  .form-container input[type="text"], .form-container {
    padding: 0.4em 0.8em;
    border-radius: 10px; }
  .form-container .select-style {
    height: 40px;
    border-radius: 10px; }
    .form-container .select-style select {
      padding: 0.6em 0.8em; }
  .form-container .tnc input[type=checkbox].css-checkbox + label.css-label {
    font-size: 1.4em;
    padding-left: 3em; }
  .form-container input.css-checkbox[type="radio"] + label.css-label {
    font-size: 1.4em;
    padding-left: 2em;
    margin-right: 0.8em; }
  footer .up-arrow {
    top: -24px; }
    footer .up-arrow img {
      width: 60%; }
  footer .links li {
    margin-bottom: 0.5em;
    font-size: 0.8em; }
    footer .links li a {
      margin: 0; }
  footer .copyright {
    font-size: 1.1em; } }
