@font-face {
    font-family: 'Lato-regular';
    src: url('../fonts/Lato-regular.eot');
    src: url('../fonts/Lato-regular.eot') format('embedded-opentype'),
         url('../fonts/Lato-regular.woff2') format('woff2'),
         url('../fonts/Lato-regular.woff') format('woff'),
         url('../fonts/Lato-regular.ttf') format('truetype'),
         url('../fonts/Lato-regular.svg#Lato-regular') format('svg');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot') format('embedded-opentype'),
         url('../fonts/Lato-Black.woff') format('woff'),
         url('../fonts/Lato-Black.ttf') format('truetype'),
         url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
}

@font-face {
    font-family: 'ArvoBold';
    src: url('../fonts/ArvoBold.eot');
    src: url('../fonts/ArvoBold.eot') format('embedded-opentype'),
         url('../fonts/ArvoBold.woff2') format('woff2'),
         url('../fonts/ArvoBold.woff') format('woff'),
         url('../fonts/ArvoBold.ttf') format('truetype'),
         url('../fonts/ArvoBold.svg#ArvoBold') format('svg');
}


/*	variables	*/
$font-reg: 'Lato-regular', sans-serif;
$font-black: 'Lato-Black', sans-serif;
$font-bold: 'ArvoBold', sans-serif;


$mobile: "screen and (max-width : 480px)";
$tablet-portrait: "screen and (max-width : 640px)";
$tablet-landscape: "screen and (max-width : 960px)";
$desk: "screen and (max-width : 1180px)";

/* colors */
/* colors */
$lightgreen:	#44b749;
$green:			#2d9e31;
$black:			#000000;
$red:			#d51623;
$lightred:		#8e0b06;
$white:			#FFFFFF;
$grey:			#f4f6f9;
$darkgrey:		#666666;
$green:      	#02790e;
$brown: 		#5b331e;
$olive:			#59442b;
$orange:		#ff6600;
$blue:			#005379;