@import "normalize";
@import "css3-mixins";
@import "grid";
@import "variables";

a, a:focus, a:active,  a:hover{text-decoration: none; outline: 0 none;}
a{ color:$black; text-decoration:none;}
input, textarea, button{ border:0 none;
	-webkit-appearance: none;
  	-webkit-border-radius: 0;
}
img {@include transition(.2s, linear);}
h1, h2, h3, h4, h5, h6{ margin:0; font-weight:normal; line-height:1;}
ul{ margin:0; padding:0; list-style:none;}
ol{ margin:0; padding:0;}
ul li, p{ margin:0; padding:0;}
b, strong{ font-family:$font-bold; font-weight:normal;}

::-webkit-input-placeholder { color: $blue;}
:-moz-placeholder { color: $blue; opacity: 1;}
::-moz-placeholder { color: $blue; opacity: 1;}
:-ms-input-placeholder { color: $blue;}

*:focus{ outline: none;}
select { background:$white; -webkit-border-radius: 0px;}

/*	@include classes	*/
.clear{ clear:both;
	&:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after{ clear: both;}
.clearfix{ *zoom: 1;}

.left{ float:left;}
.right{ float:right;}
.hide{ display:none;}
.show{ display:block;}
.red{ color:$red;}

.center{ text-align:center;}
.non-mobile{ display:block;}
.mobile{ display:none; }

/*	@exclude mixin	*/
@mixin vertical-align {
  position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}
@mixin vertical-align34{
  position: absolute; top: 34%; -webkit-transform: translateY(-34%); -ms-transform: translateY(-34%); transform: translateY(-34%);
}

/* ICON */
@mixin icon($index, $size, $image) {
    line-height: 1; vertical-align: middle;
    &:before {        
        $columns: 4; /*Number of icons going across*/
        background-image: url(../images/#{$image}); background-size: $columns * 100%; background-repeat:no-repeat;
        width: #{$size}px; height: #{$size}px;
        background-position: #{(100/($columns - 1)*($index - 1))}% 0;   
        content: ""; display: inline-block; line-height: #{$size}px; vertical-align: middle; /*margin-right: #{$size/4}px; */
    }
}

.buttons{ text-align:center;
	a, input, button{ display:inline-block; font-size:3em; width:auto; background:$blue; color:$white; padding:0.7em 3em; margin-top:0.2em;  @include border-radius(30px); line-height:1; @include box-sizing; }	
	&.margin-bot{ margin-bottom:5em;}
}

/*	page 	*/
body{  color:$blue; background:$white; font-family: $font-reg; font-size:10px; line-height:1; }
.main-container{ overflow:hidden; /*background: #035f93; */position:relative;}
.page-container{ max-width: 1280px; margin:0 auto; width:90%; position:relative;
	h1{ font-size:3em; font-family:$font-bold; text-align:center; margin-bottom:0.8em; line-height:1;}
	.copy{ font-size:1.8em; line-height:1.3; text-align:center; max-width:860px; margin:0 auto;
		a{ color:$blue; text-decoration:underline;}
	}
}


/*---------------Header----------------*/
header{ padding:1em 2%; @include box-sizing; position:absolute; top:0; left:0; width:100%; z-index:10; @include transition( padding, 0.5s); background:$white;
	a{ color:$blue; font-size:1.5em; font-family:$font-black; line-height:1; padding:0.4em 1em; display:block; @include box-sizing; @include border-radius(5px);
		&.border{ border:2px solid $blue;}
	}
	.main-links{ text-align:center; margin-top:1em;
		li{ display:inline-block; vertical-align:top;}
		li.li-video a:hover, li.li-product a:hover{color: #429fd2;}
		li.li-get-it a:hover{background: #005379; color: $white;}
	}	
	.remaining{ text-align:center;
		.counter{  font-family:$font-black; color:$white;
			span{ display:inline-block; background:url(../images/bg-counter.png) no-repeat; background-size:100% 100%; font-size:2.5em; padding: 5px 0.2em; line-height:1; margin-right:4px;}
		}
		label{ color:$blue; font-size:1.5em; font-family:$font-black; line-height:1;}
	}	
	&.sticky { position: fixed; top:0;  z-index:1000; padding:1em 2.5%; background-color:rgba(255,255,255,0.9);
		.logo{ max-width:120px;}
	}
}
.mobile-toggle{ display:none; cursor: pointer; background:url(../images/mobile-menu.png) 0 0 no-repeat; float:left; width: 30px; height:30px; @include transition(all, 200ms, ease-in); margin-top: 4px;}
.open-nav .mobile-toggle { transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
.fade-down {
    animation: 0.7s ease-in-out 0.1s normal both 1 running fade-down;
}

@keyframes fade-down {
	0% { opacity: 0; transform: translateY(-100%);}
	100% { opacity: 1; transform: translateY(0px);}
}

.banner{ margin-top:9em;
	img{ width:100%; height:auto;}	
}
.video-section{ padding:4em 0; text-align:center;
	.video-area{ padding:4em 0 0; width: 80%; margin: 0 auto;
		figure{ position:relative; line-height:0; background:$black; 
			img{ width:100%; height:auto; display:block;}	
			span{ position:absolute; left:50%; top:50%; margin: -50px 0 0 -50px; width:100px; height:100px; background:url(../images/play-button.png) 0 0 no-repeat; background-size:contain; }			
		}
	}	
}
.product-section{ padding:0; text-align:center;
	figure{
		img{ width:100%; height:auto;}	
		&.top{ margin-bottom:-5em;}
		&.product{ margin-top: 4em;}
	}
}

.form-section{ padding:5em 0 4em; background-color: #fffdf9;
	.logo-for-him{ width:13%; position:absolute; left:0; bottom:0;
		img{ max-width:100%; height:auto;}
	}
	.logo-skinny-cow{ width:16%;  position:absolute; right:0; bottom:0;
		img{ max-width:100%; height:auto;}
	}
	.page-container{ padding-bottom:15em;}
}

.form-container{ width:90%; max-width:560px; font-family:$font-reg; margin:5em auto 0;	
	input[type="text"], select{ @include box-sizing; color:$blue; padding:0.7em; border:2px solid $blue; line-height:1; background:#fffdf9; width:100%; font-size:1.8em; @include border-radius(10px);
		&.city{ width:35%; display:inline-block; float:left;}
		&.state{/* width:35%; display:inline-block; margin-left:2%; float:left;*/}
		&.zip{ /*width:48%; display:inline-block; margin-left:0; float:left;*/}
		&.fName{width:49%; display:inline-block; margin-right:2%; float:left;}
		&.lName{ width:49%; display:inline-block; float:left;}
	}
	select{ /*height:39px;*/ padding:0; text-align:left; font-size:1.8em;}
	.textarea{ position:relative; @include box-sizing;
		.char-left{ position:absolute; right:10px; bottom:10px; z-index:10;}
	}
	.left{ width:48%; display:inline-block; margin-right:4%; float:left;}
	.right{ width:48%; display:inline-block; float:left;}
	
	input.error{ border-color:$red;
		&::-webkit-input-placeholder { color: $red;}
		&:-moz-placeholder { color: $red; opacity: 1;}
		&::-moz-placeholder { color: $red; opacity: 1;}
		&:-ms-input-placeholder { color: $red;}
	}
	input[type="submit"]{ font-size:2.4em; color:$white; font-family:$font-black;  padding:0.8em 3em; line-height:1; }
	
	.element{  margin-bottom:2.3em;}
	.links{ text-align:center; margin-bottom:1.2em; font-size:1.8em;
		a{ color:$blue; text-decoration:underline; margin:0 1em;}
	}
	.error-msg{ font-size:1.6em; display:block; margin-bottom:1em; color:$red; margin-left:0.5em; margin-top:0.2em;}
		
	/* Custom select box*/
	.select-style {	padding: 0; height:53px; @include box-sizing; margin: 0; width: 100%; overflow: hidden; background: #fffdf9 url(../images/arrow-select.gif) no-repeat 100% center; border:2px solid $blue;  @include border-radius(10px);
		&.error{ border-color:$red;}
	}	
	.select-style select { width: 100%; padding:0.8em 1em; margin:0; line-height:1; border: none; box-shadow: none; background-color: transparent;	background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}	
	.select-style select:focus { outline: none;}
	 select option {
		background: $blue;
		color:#fff;
		text-shadow:0 1px 0 rgba(0,0,0,0.4);
	}
	
	/*	Custom Radio	*/
	.select-option{ margin-bottom:2em;}
	//urls
	$url_0: url(../images/chk-box-sm.png);
	
	input[type=radio].css-checkbox {
		position: absolute;	z-index: -1000;	left: -1000px; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0;
		+ label.css-label {
			padding-left: 1.5em; min-height: 22px; margin-right:1em; margin-bottom:0.5em; display: inline-block; line-height: 20px; background-repeat: no-repeat; background-position: 0 0; font-size: 1.8em; vertical-align: middle; cursor: pointer;
		}
		&:checked + label.css-label {
			background-position: 0 -198px;
		}
	}
	label.css-label {
		background-image: $url_0; user-select: none;
	}
	
	.select-form{ display:none;}
	.tnc{ margin-bottom:0.5em; text-align:left; color:$darkgrey;
		input[type=checkbox].css-checkbox {	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
		input[type=checkbox].css-checkbox + label.css-label { text-indent:0; padding-left:2em; font-size:1.6em; font-weight:normal; margin-bottom:1em; min-height:24px; line-height:1.4; display:inline-block; background-repeat:no-repeat; background-position: 0 0; vertical-align:middle; cursor:pointer;}
		input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -216px;}
		input[type=checkbox].css-checkbox + label.css-label.error { background-position: 0 -456px;}
		label.css-label {  font-size:1em; background-image:url(../images/chk-box-sm2.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none; user-select: none;}
		a{color: $blue; text-decoration: underline;}
	}
}


/*---------------Footer----------------*/

footer{ background:$blue; padding:8em 0 4em; text-align: center; position:relative;
	.up-arrow{ position:absolute; left:50%; top:-28px; margin-left:-35px;
		img{width: 75%;}
	}
	.links{ font-size:1.6em; margin-bottom:2em;
		li{ display:inline-block; margin:0 1em;}
		a{ margin:0 0.5em; color:$white; text-decoration:underline;}
	}
	.copyright{ font-size:1.2em; color:$white;
		a{ color:$white; font-family:$font-bold;}
	}
}


@media #{$desk} { /*1180px*/
	header{ 
		a{ font-size:1.5em;}
	}
	.page-container{ 
		h1{ font-size:4em; }
		.copy{ font-size:2em; }
	}
}

@media #{$tablet-landscape} { /*960px*/	
	.non-mobile{ display:none;}
	.mobile{ display: block;}
	
	header{ padding:1em 0;
		a{ font-size:1.5em; padding: 0.4em 1em;}
		.remaining{ 
			.counter{ 
				span{ font-size:2.5em;}
			}
		}
	}
	.page-container{ 
		h1{ font-size:3.4em; }
		.copy{ font-size:1.8em;
			br{ display:none;}
		}
	}
	.product-section{ 
		figure{ overflow:hidden;
			img{ width:130%; margin-left:-15%;}
			&.top{ margin-bottom:0;}
		}
	}
	.video-section{ padding: 4em 0;}
	.form-section{ padding: 4em 0 2em;
		.logo-for-him{ width:17%;}
		.logo-skinny-cow{ width: 21%;}
	}
	footer{ 
		.links{ 
		 	li{  margin: 0 0.5em;}
		}
	}
}

@media #{$tablet-portrait} {/*640px*/
	.mobile-toggle{ display:block;}
	.open-nav{ background:$white;
		.mobile-toggle{ background-position: -30px 0;}
		.main-links{ display:block;}		
	}
	header{
		.main-links{ float:none; clear:both; width:100%; display:none; padding-top:1em;
			li{ display:block; text-align:center; margin:1em 0;
				a{ padding:1em 0; font-size:1.8em;}
				&.non-mobile{ display:none;}
			}
		}
		.remaining{
			.counter{
				span{ font-size:1.8em; margin-right:0;}
			}
			label{ font-size:1.2em; font-family:$font-reg;}
		}
	}
	.page-container{ 
		h1{ font-size:3.2em;}		
	}
	.video-section{ 
		.video-area figure{ 
			span{ width:60px; height:60px; margin: -30px 0 0 -30px;}
		}
	}
	.form-section{ 
		.logo-for-him{ width:30%;}
		.logo-skinny-cow{ width: 34%;}
	}
	.form-container{ margin: 4em auto 0; width: 94%;
		input[type="text"], select{ font-size:1.6em;}
		input[type="submit"]{ font-size:2em;}
		input.css-checkbox[type="radio"] + label.css-label{ font-size:1.6em; margin-right:0.5em;}
		.links{ font-size:1.6em;
			a{ margin:0 0.5em;}
		}
		.left{ width:100%; float:none; margin-right:0;}
		.right{ width:100%; float:none;}
		.select-style{ height:55px;}
	}
	footer{ padding: 5em 0 2em;
		.links{ 
		 	li{ margin-bottom:1em;}
		}
	}
}

@media #{$mobile} {/*480px*/
	.page-container{ width: 80%;
		h1{ font-size:2.2em; padding: 0 15%;}
		.copy{font-size: 1.4em;}
	}
	.video-section .video-area{ width: 100%; }
	.product-section figure:nth-child(1) img{content:url("../images/product-infographics-mobile.jpg"); width: 100%; margin-left: 0;}
	.product-section figure:nth-child(3) img{content:url("../images/product-infographics2-mobile.jpg"); width: 100%; margin-left: 0;}
	.home figure img{content:url("../images/home-banner-mobile.jpg");}
	.out-of-stock figure img{content:url("../images/sorry-banner-mobile.jpg");}
	.promo-end figure img{content:url("../images/promo-over-banner-mobile.jpg");}

	.form-container input[type="text"], .form-container { padding: 0.4em 0.8em; border-radius: 10px;}
	.form-container .select-style{ height: 40px; border-radius: 10px;
		select {padding: 0.6em 0.8em;}
	}
	.form-container .tnc input[type=checkbox].css-checkbox + label.css-label {font-size: 1.4em; padding-left: 3em;}
	.form-container input.css-checkbox[type="radio"] + label.css-label {font-size: 1.4em; padding-left: 2em; margin-right: 0.8em;}
	footer{
		.up-arrow {top: -24px;
			img{width: 60%;}
		}
		.links li { margin-bottom: 0.5em; font-size: 0.8em;
			a{margin: 0;}
		}
		.copyright{font-size: 1.1em;}
	}
}
