{% extends 'home/layouts/master.html' %}
{% block content %}
{% load static %}
<section class="banner home" id="home">
    <figure><img src="{% static 'home/images/home-banner.jpg' %}" alt=""/></figure>
</section>
<section class="video-section" id="video">
    <div class="page-container">
        <h1>Does your man love to steal your treats?</h1>
        <p class="copy">You’re not alone. For years, men have stolen delicious Skinny Cow<sup>&reg;</sup> treats from women,
            leaving empty wrappers and boxes in their place. So to make sure there is enough
            indulgence for all, we created new Skinny Cow<sup>&reg;</sup> For Him - a limited edition,
            manly-packaged treat to stop him from stealing yours!</p>
        <div class="video-area" id="video-player">
            <figure class="video">
                <a href="javascript:;" data-yt="o3pjEu7EaL8">
                    <img src="{% static 'home/images/thumb-video-skinny.jpg' %}" alt=""/>
                </a>
            </figure>
        </div>
    </div>
</section>
<section class="product-section" id="product">
    <figure class="top"><img src="{% static 'home/images/product-infographics.jpg' %}" alt=""/></figure>
    <div class="page-container" id="reassuringly-manly">
        <h1>Reassuringly Manly.</h1>
        <p class="copy">With its clever masculine camouflage, your man will instantly reach for Skinny Cow<sup>&reg;</sup> For Him, and leave your Skinny Cow<sup>&reg;</sup> treats all for yourself.
            You no longer have to share!</p>
    </div>
    <figure><img src="{% static 'home/images/product-infographics2.jpg' %}" alt=""/></figure>
    <div class="page-container">
        <h1>Deliciously Indulgent.</h1>
        <p class="copy">It’s the same delicious treat he loves to steal from you and indulge in. The only difference is it’s wrapped in a manly package covered with man words so he knows to take HIS! Now everyone can indulge in their own Skinny Cow<sup>&reg;</sup>!</p>
    </div>
    <figure class="product" id="package-shots"><img src="{% static 'home/images/product.jpg' %}" alt=""/></figure>
</section>
<section class="form-section" id="forms" ng-controller="register">
    <div class="page-container">
        <h1>Get Skinny Cow<sup>&reg;</sup> For Him Now!</h1>
        <p class="copy">He’s probably stealing your new delicious Vanilla Bean Dream<br>
            treats while you’re reading this. So hurry, get him his own<br>
            limited edition, manly-wrapped version today and we’ll ship it for you!</p>
        <div class="form-container">
            <form method="post" ng-submit='submit()' id="form">
                <div class="element">
                    <input type="text" name="name" id="name" class="" placeholder="Name" ng-change="errors.name=''" ng-model="user.name" ng-class="{error: errors.name}">
                    <span class="error-msg" ng-show="errors.name">[[ errors.name[0] ]]</span>
                </div>
                <div class="tnc">
                    <input type="checkbox" name="privacy" value="0" class="css-checkbox" id="privacy" ng-class='{error: errors.privacy}' ng-change="errors.privacy = ''" ng-model='user.privacy'>
                    <label for="privacy" class="css-label" ng-class = '{error: errors.privacy}'>I have read and agree to the <a target="_blank" href="pdf/tnc.pdf">Terms of Giveaway</a> and <a target="_blank" href="https://www.skinnycow.com/legal/privacy-policy.aspx">Privacy</a>.</label>
                    <span class="error-msg" ng-show="errors.privacy">[[ errors.privacy[0] ]]</span>
                </div>
                <div class="element">
                    <input type="text" name="email" id="email" class="" placeholder="Email Address" ng-change="errors.email=''" ng-model="user.email" ng-class="{error: errors.email}">
                    <span class="error-msg" ng-show="errors.email">[[ errors.email[0] ]]</span>
                </div>

                <div class="select-option clear">
                    <span>
                        <input type="radio" name="type" value="own" id="radio1" class="css-checkbox" ng-class='{error: errors.type}' ng-change="errors.type = ''" ng-model="user.type">
                        <label for="radio1" class="css-label radGroup1">This is for me</label>
                    </span>
                    <span>
                        <input type="radio" name="type" value="gift" id="radio2" class="css-checkbox" ng-class='{error: errors.type}' ng-change="errors.type = ''" ng-model="user.type">
                        <label for="radio2" class="css-label radGroup1">This is a gift</label>
                    </span>
                </div>

                <div class="own select-form">
                    <div class="element">
                        <input type="text" name="address1" id="address1" class="" placeholder="Address 1" ng-change="errors.address_1=''" ng-model="user.address_1" ng-class="{error: errors.address1}">
                        <span class="error-msg" ng-show="errors.address_1">[[ errors.address_1[0] ]]</span>
                    </div>
                    <div class="element">
                        <input type="text" name="address2" id="address2" class="" placeholder="Address 2" ng-change="errors.address_2=''" ng-model="user.address_2" ng-class="{error: errors.address_2}">
                        <span class="error-msg" ng-show="errors.address_2">[[ errors.address2[0] ]]</span>
                    </div>
                    <div class="element">
                        <input type="text" name="city" id="city" class="" placeholder="City" ng-change="errors.city=''" ng-model="user.city" ng-class="{error: errors.city}">
                        <span class="error-msg" ng-show="errors.city">[[ errors.city[0] ]]</span>
                    </div>

                    <div class="element left">
                        <div class="select-style">
                            <select name="state" class="state" ng-class='{error: errors.state}' ng-change="errors.state = ''" ng-model='user.state'>
                                <option value="">State</option>
                                {% for state in state_data %}
                                    <option value="{{ state.id }}">{{ state.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span class="error-msg" ng-show="errors.state">[[ errors.state[0] ]]</span>
                    </div>
                    <div class="element right">
                        <input type="text" name="zip" id="zip" class="zip" placeholder="Zip Code" ng-change="errors.zip=''" ng-model="user.zip" ng-class="{error: errors.zip}">
                        <span class="error-msg" ng-show="errors.zip">[[ errors.zip[0] ]]</span>
                    </div>

                    <div class="clear"></div>
                    <div class="buttons">
                        <input name="btnSubmit" type="submit" id="btnSubmit" value="Submit">
                    </div>
                </div>
                <div class="gift select-form">
                    <div class="element">
                        <input type="text" name="gift_holder_name" id="gift_holder_name" class="" placeholder="Name" ng-change="user.name=''" ng-model="user.gift_holder_name" ng-class="{error: errors.gift_holder_name}">
                        <span class="error-msg" ng-show="errors.gift_holder_name">[[ errors.gift_holder_name[0] ]]</span>
                    </div>
                    <div class="element">
                        <input type="text" name="gift_holder_email" id="gift_holder_email" class="" placeholder="Email Address" ng-change="errors.email=''" ng-model="user.gift_holder_email" ng-class="{error: errors.gift_holder_email}">
                        <span class="error-msg" ng-show="errors.email">[[ errors.email[0] ]]</span>
                    </div>
                    <div class="element">
                        <input type="text" name="gift_holder_address1" id="gift_holder_address1" class="" placeholder="Address 2" ng-change="user.gift_holder_address1" ng-model="user.gift_holder_address1" ng-class="{error: errors.gift_holder_address1}">
                        <span class="error-msg" ng-show="errors.address_1">[[ errors.address_1[0] ]]</span>
                    </div>
                    <div class="element">
                        <input type="text" name="gift_holder_address2" id="gift_holder_address2" class="" placeholder="Address 2" ng-change="user.gift_holder_address2" ng-model="user.gift_holder_address2" ng-class="{error: errors.gift_holder_address2}">
                        <span class="error-msg" ng-show="errors.address_2">[[ errors.address_2[0] ]]</span>
                    </div>
                    <div class="element">
                        <input type="text" name="gift_holder_city" id="gift_holder_city" class="" placeholder="City" ng-change="user.gift_holder_city" ng-model="user.gift_holder_city" ng-class="{error: errors.gift_holder_city}">
                        <span class="error-msg" ng-show="errors.city">[[ errors.city[0] ]]</span>
                    </div>
                    <div class="element left">
                        <div class="select-style">
                            <select name="gift_holder_state_id" class="state" ng-class='{error: errors.gift_holder_state_id}' ng-change="errors.gift_holder_state_id = ''" ng-model='user.gift_holder_state_id'>
                                <option value="">State</option>
                                {% for state in state_data %}
                                    <option value="{{ state.id }}">{{ state.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span class="error-msg" ng-show="errors.gift_holder_state_id">[[ errors.gift_holder_state_id[0] ]]</span>
                    </div>
                    <div class="element right">
                        <input type="text" name="gift_holder_zip" id="gift_holder_zip" class="zip" placeholder="Zip Code" ng-change="user.gift_holder_zip" ng-model="user.gift_holder_zip" ng-class="{error: errors.gift_holder_zip}">
                        <span class="error-msg" ng-show="errors.gift_holder_zip">[[ errors.gift_holder_zip[0] ]]</span>
                    </div>
                    <div class="clear"></div>
                    <div class="buttons">
                        <input name="btnSubmitGift" type="submit" id="btnSubmitGift" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="logos">
            <figure class="logo-for-him"><img src="{% static 'home/images/logo-for-him.png' %}" alt=""/></figure>
            <figure class="logo-skinny-cow"><img src="{% static 'home/images/logo-skinny-cow.png' %}" alt=""/></figure>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}