{% extends 'home/layouts/master.html' %}
{% block content %}
{% load static %}
<section class="banner home" id="home">
	<figure><img src="{% static 'home/images/home-banner.jpg' %}" alt=""/></figure>
</section>
<section class="video-section" id="video">
	<div class="page-container">
    	<h1>Does your man love to steal your treats?</h1>
    	<p class="copy">You’re not alone. For years, men have stolen delicious Skinny Cow<sup>&reg;</sup> treats from women,
   	    leaving empty wrappers and boxes in their place. So to make sure there is enough
        indulgence for all, we created new Skinny Cow<sup>&reg;</sup> For Him - a limited edition,
        manly-packaged treat to stop him from stealing yours!</p>
    	<div class="video-area" id="video-player">
        	<figure class="video">
                <a href="javascript:;" data-yt="o3pjEu7EaL8">
                    <img src="{% static 'home/images/thumb-video-skinny.jpg' %}" alt=""/>
                </a>
            </figure>
        </div>
    </div>
</section>
<section class="product-section" id="product">
	<figure class="top"><img src="{% static 'home/images/product-infographics.jpg' %}" alt=""/></figure>
	<div class="page-container" id="reassuringly-manly">
    	<h1>Reassuringly Manly.</h1>
    	<p class="copy">With its clever masculine camouflage, your man will instantly reach for Skinny Cow<sup>&reg;</sup> For Him, and leave your Skinny Cow<sup>&reg;</sup> treats all for yourself.
   	    You no longer have to share!</p>    	
    </div>
    <figure><img src="{% static 'home/images/product-infographics2.jpg' %}" alt=""/></figure>
    <div class="page-container">
    	<h1>Deliciously Indulgent.</h1>
    	<p class="copy">It’s the same delicious treat he loves to steal from you and indulge in. The only difference is it’s wrapped in a manly package covered with man words so he knows to take HIS! Now everyone can indulge in their own Skinny Cow<sup>&reg;</sup>!</p>    	
    </div>
    <figure class="product" id="package-shots"><img src="{% static 'home/images/product.jpg' %}" alt=""/></figure>
</section>
<section class="form-section" id="forms">
	<div class="page-container">
    	<h1>Thank You!<br>Your new Skinny Cow<sup>&reg;</sup> For Him is on the way.</h1>

        <p class="copy">Find out where to buy your own Skinny Cow treats in store <a href="https://www.skinnycow.com/everything-else/where-to-buy.aspx" target="_blank">here</a>.</p>
        
        <div class="logos">
        	<figure class="logo-for-him"><img src="{% static 'home/images/logo-for-him.png' %}" alt=""/></figure>
            <figure class="logo-skinny-cow"><img src="{% static 'home/images/logo-skinny-cow.png' %}" alt=""/></figure>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}