{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="siteApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% csrf_token %}
    <title>Skinny Cow For Him</title>

    <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <style>html{visibility:hidden;}</style><script>if(self==top){document.documentElement.style.visibility='visible';}else{top.location=self.location;}</script>
</head>

<body>
<div class="main-container">
    <header>
        <div class="page-container clear">
            <div class="mobile-toggle"></div>
            <div class="remaining right">
                <div class="counter">
                    {% for i in qty_left|stringformat:"i" %}
                        <span>{{ i }}</span>
                    {% endfor %}
                </div>
                <label>Remaining</label>
            </div>
            <nav class="main-links left">
                <ul>
                    <li class="li-video"><a href="#video-player">Video</a></li>
                    <li class="li-product"><a href="#reassuringly-manly">Product</a></li>
                    <li class="li-get-it"><a href="#forms" class="border">Get It For Him</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="clear">
        <div class="up-arrow"><a href="#home" class="goto"><img src="{% static 'home/images/arrow-up.png' %}" alt=""/></a></div>
        <ul class="links">
            <li><a target="_blank" href="pdf/tnc.pdf">Terms of Giveaway</a></li>
            <li><a target="_blank" href="https://www.skinnycow.com/legal/privacy-policy.aspx">Privacy</a></li>
            <li><a target="_blank" href="https://www.skinnycow.com/legal/terms-and-conditions.aspx">Terms &amp; Conditions</a></li>
            <li><a target="_blank" href="https://www.skinnycow.com/">Skinnycow.com</a></li>
        </ul>
        <div class="copyright">
            {% now "Y-m-d" as todays_date %}
            {% if todays_date == "2017-06-25" %}
                First 100 people to respond will receive a FREE box of Skinny Cow for Him Vanilla Bean Dream Chocolatey Dipped Ice Cream Sandwich <br>Offer available to residents of the 48 contiguous U.S. and D.C., 13+. Void in AK and HI, and where prohibited. <br>Sponsor: Nestlé Dreyer’s Ice Cream Company, Oakland, CA  94618 . For complete details, go to <a href="http://www.skinnycow.com/forhim">www.skinnycow.com/forhim</a>
            {% elif todays_date == "2017-06-30" %}
                First 50 people to respond will receive a FREE box of Skinny Cow for Him Vanilla Bean Dream Chocolatey Dipped Ice Cream Sandwich <br>Offer available to residents of the 48 contiguous U.S. and D.C., 13+. Void in AK and HI, and where prohibited. <br>Sponsor: Nestlé Dreyer’s Ice Cream Company, Oakland, CA  94618 . For complete details, go to <a href="http://www.skinnycow.com/forhim">www.skinnycow.com/forhim</a>
            {% elif todays_date == "2017-06-25" %}
                First 50 people to respond will receive a FREE box of Skinny Cow for Him Vanilla Bean Dream Chocolatey Dipped Ice Cream Sandwich <br>Offer available to residents of the 48 contiguous U.S. and D.C., 13+. Void in AK and HI, and where prohibited. <br>Sponsor: Nestlé Dreyer’s Ice Cream Company, Oakland, CA  94618 . For complete details, go to <a href="http://www.skinnycow.com/forhim">www.skinnycow.com/forhim</a>
            {% elif todays_date == "2017-06-25" %}
                First 50 people to respond will receive a FREE box of Skinny Cow for Him Vanilla Bean Dream Chocolatey Dipped Ice Cream Sandwich <br>Offer available to residents of the 48 contiguous U.S. and D.C., 13+. Void in AK and HI, and where prohibited. <br>Sponsor: Nestlé Dreyer’s Ice Cream Company, Oakland, CA  94618 . For complete details, go to <a href="http://www.skinnycow.com/forhim">www.skinnycow.com/forhim</a>
            {% else %}

            {% endif %}
        </div>
    </footer>
</div>

<script>
    var APP = APP || {};
    APP.baseUrl = "";
</script>
<script src="{% static 'home/js/vendor.js' %}"></script>
<script src="{% static 'home/js/site.js' %}"></script>
<script src="{% static 'home/js/app.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>